<!-- header -->
<header class="header-area">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <div class="header_top">
                    <div class="row">
                        <div class="col-md-2 d_none">
                            <ul class="top_info">
                                <!--
                                                                <li><i class="fa fa-twitter" aria-hidden="true"></i>
                                                                    Twitter: <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>
                                                                </li>
                                -->
                            </ul>
                        </div>
                        <div class=" col-md-8 col-sm-12">
                            <div class="logo">
                                <a href="/index.html">{{ site.title }}</a>
                            </div>
                        </div>
                        <div class="col-md-2 d_none">
                            <ul class="social_icon text_align_right">
                                <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="navbar-area">
                    <nav class="site-navbar">
                        <ul>
                            <li><a class="active" href="/index.html">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/news">News</a></li>
                            <li><a href="/contact">Contact us</a></li>
                        </ul>
                        <button class="nav-toggler">
                            <span></span>
                        </button>
                    </nav>
                    <ul class="email text_align_right">
                        <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <!-- https://trackjs.com/blog/site-search-with-javascript-part-2/ -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header inner -->