/*@import url(font-awesome.min.css);*/

:root {
    --bs-primary: #a06725;
    --bs-secondary: #dcb97c;
    --bs-link-color: var(--bs-primary);
    --bs-link-color-rgb: var(--bs-primary);
    --bs-link-hover-color: var(--bs-secondary);
    --bs-link-hover-color-rgb: var(--bs-secondary);
    --bs-link-decoration: none;
}

.container {
    margin-top: 10px;
}

.skip-to-main-content {
    background-color: #000;
    color: #fff;
    left: -9999px;
    opacity: 0;
    padding: 1em;
    position: absolute;
    z-index: 999;
}

#header {
    margin-bottom: 1em;
    border-bottom: 1px solid var(--bs-secondary);
}

#footer {
    margin-top: 1em;
    border-top: 1px solid var(--bs-secondary);
}

.banner {
    background-image: url('/img/okcskyline.png');
    background-size: cover;
}

.blur {
    background-color: rgb(255,255,255,0.45);
    /*backdrop-filter: blur(1px);*/
}

ul.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.fa-brands {
    font-size: xx-large;
}

.post-link {
    display: block;
    font-size: x-large;
    text-decoration: none;
    background-color: var(--bs-secondary);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
}

.social-link {
    text-decoration: none;
    padding-left: 5px;
}

.article {
    padding: 0 0 1em 0;
}

.speaker-img {
    max-height: 125px;
    float: left;
    padding-right: 10px;
}

.location-box {
    min-width: 25pc;
    max-width: 25pc;
    padding: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    float: right;
    background-color: var(--bs-secondary);
    border-style: solid;
    border-width: 1px;
    border-color: var(--bs-primary);
}

.heading {
    border-bottom: 1px solid var(--bs-secondary);
}

.pager {
    margin: 10px 0px 0px 10px;
}

.pager > .previous {
    padding: 10px;
    background-color: var(--bs-secondary);
    width: 50%;
    float: left;
}

.pager .next {
    padding: 10px;
    background-color: var(--bs-secondary);
    width: 50%;
    text-align: end;
    float: right;
}


.quoteblock {
    margin: 0 1em 1.25em 1.5em;
    display: table;
}

.quoteblock blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
.quoteblock blockquote::before {
    content: "\201c";
    float: left;
    font-size: 2.75em;
    font-weight: bold;
    line-height: .6em;
    margin-left: -.6em;
    color: #7a2518;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
.quoteblock blockquote, .quoteblock p {
    color: rgba(0, 0, 0, .85);
    font-size: 1.15rem;
    line-height: 1.75;
    word-spacing: .1em;
    letter-spacing: 0;
    font-style: italic;
    text-align: justify;
}

div.imageblock, div.exampleblock, div.verseblock,
div.quoteblock, div.literalblock, div.listingblock, div.sidebarblock,
div.admonitionblock {
    margin-top: 1.0em;
    margin-bottom: 1.5em;
}
div.admonitionblock {
    margin-top: 2.0em;
    margin-bottom: 2.0em;
    margin-right: 10%;
    color: #606060;
}

div.admonitionblock .icon {
    vertical-align: top;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
    color: #527bbd;
    padding-right: 0.5em;
}
div.admonitionblock td.content {
    padding-left: 0.5em;
    border-left: 3px solid #dddddd;
}
