<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>{{ site.title }}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/images/fevicon.png" type="image/gif"/>
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">

<!-- header -->
<header class="header-area">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <div class="header_top">
                    <div class="row">
                        <div class="col-md-2 d_none">
                            <ul class="top_info">
<!--
                                <li><i class="fa fa-twitter" aria-hidden="true"></i>
                                    Twitter: <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>
                                </li>
-->
                            </ul>
                        </div>
                        <div class=" col-md-8 col-sm-12">
                            <div class="logo">
                                <a href="/index.html">{{ site.title }}</a>
                            </div>
                        </div>
                        <div class="col-md-2 d_none">
                            <ul class="social_icon text_align_right">
                                <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="navbar-area">
                    <nav class="site-navbar">
                        <ul>
                            <li><a class="active" href="/index.html">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/news">News</a></li>
                            <li><a href="/contact">Contact us</a></li>
                        </ul>
                        <button class="nav-toggler">
                            <span></span>
                        </button>
                    </nav>
                    <ul class="email text_align_right">
                        <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <!-- https://trackjs.com/blog/site-search-with-javascript-part-2/ -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header inner -->
<!-- banner -->
<div class="full_bg">
    {% if page.banner == true %}
    <div class="slider_main">
        <!-- carousel code -->
        <div id="banner1" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#banner1" data-slide-to="0" class="active"></li>
                <li data-target="#banner1" data-slide-to="1"></li>
                <li data-target="#banner1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {% for post in site.posts limit:10 %}
                {% if forloop.first %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                {% endif %}
                    <div class="container">
                        <div class="carousel-caption relative">
                            <div class="row d_flex">
                                <div class="col-lg-9 offset-lg-3 col-md-9 offset-md-3">
                                    <div class="creative">
                                        <h1>{{ post.title }}</h1>
                                        <h2>{{ post.when | date: '%B %d, %Y - %I:%M%P' }}</h2>
                                        {{ post.excerpt | strip_html | truncate: 500 }}
                                        <a class="read_more" href="{{ post.url}}">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- controls -->
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    {% endif %}
</div>
<!-- end banner -->
<!-- perfect -->
<div class="perfect">
    <div class="container_width">
        {{ content }}
    </div>
</div>
<!-- end perfect -->
<!-- combined -->
<div class="combined">
    <div class="clients_bg">
        <div class="container-fluid">
            <div class="row d_flex grig">
                <div class="col-lg-8">
                    <!-- start slider section -->
                    <div id="myCarousel" class="carousel slide clients_banner" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption testimo">
                                        <div class="row d_flex">
                                            <div class="col-md-6">
                                                <div class="dicti">
                                                    <figure><img src="/images/test2.png" alt="#"/></figure>
                                                    <h4>Dictionary</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="dicti">
                                                    <figure><img src="/images/test3.png" alt="#"/></figure>
                                                    <h4>chunks as necessary,</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption testimo">
                                        <div class="row d_flex">
                                            <div class="col-md-6">
                                                <div class="dicti">
                                                    <figure><img src="/images/test2.png" alt="#"/></figure>
                                                    <h4>Dictionary</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="dicti">
                                                    <figure><img src="/images/test3.png" alt="#"/></figure>
                                                    <h4>chunks as necessary,</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption testimo">
                                        <div class="row d_flex">
                                            <div class="col-md-6">
                                                <div class="dicti">
                                                    <figure><img src="/images/test2.png" alt="#"/></figure>
                                                    <h4>Dictionary</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="dicti">
                                                    <figure><img src="/images/test3.png" alt="#"/></figure>
                                                    <h4>chunks as necessary,</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 order">
                    <div class="titlepage text_align_left">
                        <h2>Uses a dictionary of over 200 Latin words, combined </h2>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this
                            the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined withAll
                            the Lorem </p>
                        <a class="read_more" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end combined -->
<!-- contact -->
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="titlepage text_align_center">
                    <h2>Contact Us</h2>
                </div>
            </div>
            <div class="col-md-12">
                <form id="request" class="main_form">
                    <div class="row">
                        <div class="col-md-12 ">
                            <input class="form_control" placeholder="Name" type="type" name=" Name">
                        </div>
                        <div class="col-md-12">
                            <input class="form_control" placeholder="Email" type="type" name="Email">
                        </div>
                        <div class="col-md-12">
                            <input class="form_control" placeholder="Phone Number" type="type" name="Phone Number">
                        </div>
                        <div class="col-md-12">
                            <input class="textarea" placeholder="Message" type="type" name="message">
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end contact -->
<!--  footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="hedingh3  text_align_left">
                        <h3>Contact Us</h3>
                        <ul class="top_infomation">
                            <li><img src="/images/loc.png" alt="#"/>
                                Locations
                            </li>
                            <li><img src="/images/call.png" alt="#"/>
                                +71 89078493
                            </li>
                            <li><img src="/images/mail.png" alt="#"/>
                                <a href="Javascript:void(0)">demo@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hedingh3 text_align_left">
                        <h3>Useful Link</h3>
                        <ul class="menu_footer">
                            <li><a href="/index.html">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/news">News</a></li>
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hedingh3  text_align_left">
                        <h3>Newsletter</h3>
                        <form id="colof" class="form_subscri">
                            <input class="newsl" placeholder="Your email" type="text" name="Email">
                            <button class="subsci_btn">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© 2022 All Rights Reserved. Design by <a href="https://html.design/"> Free html Templates</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.0.0.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>