<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<!-- body -->
<body class="main-layout">
{% include header.html %}
<div class="full_bg">
</div>
<!-- perfect -->
<div class="perfect">
    <div class="container_width">
        <h1>{{ page.title }}
            {% if page.topic %}
            - {{ page.topic}}
            {% endif %}
        </h1>
        {{ content }}
    </div>
</div>
<!-- end perfect -->
{% include combined.html %}
{% include contact.html %}
{% include footer.html %}
{% include jsfiles.html %}
</body>
</html>