---
title: News
layout: simple
pagination:
    enabled: true
permalink: /news/
---

{% include pagination.html %}
<br/>
<ul>
    {% for post in paginator.posts %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <div style="padding-left: 2em">
            {% if post.topic %}
            <div>
                <strong>Topic:</strong> {{ post.topic }}
            </div>
            {%endif%}
            {{ post.excerpt | strip_html | truncate: 300 }}
        </div>
    </li>
    {% endfor %}
</ul>
<br/>
{% include pagination.html %}
